<%= render 'home/navbar'%>

<div id="clientesimg"class="container-xl d-flex justify-content-center ml-auto"style="background-color: rgba(255, 255, 255, 0.274);" >
	<div class="table-responsive mb-4 mt-3" >
		<div class="table-wrapper ">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Clientes <b>Cadastrados</b></h2>
					</div>
					<div class="col-sm-6">
						<%= link_to new_cliente_path, data:{toggle: 'modal'},class:'btn btn-success' do %>
							<i class="material-icons"></i> <span>Cadastrar Cliente</span>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
								<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
								<path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
							</svg>	
						<% end %>
										
					</div>
				</div>
			</div>
			<table class="table col-5">
				<thead>
					<tr>
						<th class="">ID</th>
						<th class="">Nome</th>
						<th class="">CPF</th>
						<th class="">Idade</th>
						<th class="">Ações</th>
					</tr>
				</thead>
				<tbody>
          <% @clientes.each do |cliente| %>
            <tr>
              <td><%= cliente.id%></td>
              <td><%= cliente.nome%></td>
              <td><%= cliente.cpf%></td>
              <td><%= cliente.idade%></td>
              <td>
                <%= link_to edit_cliente_path(cliente), class: 'edit', data: {toggle: 'modal'} do %>
                  <i class="material-icons" data-toggle="tooltip" title="Editar"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>,
                  </svg>
                <% end %>
                <%= link_to cliente, data:{turbo_method: :delete, toggle: 'modal'},class:'delete' do %>
                  <i class="material-icons" data-toggle="tooltip" title="Deletar"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>,
                  </svg>
                <% end %>
              </td>
            </tr>
          <% end %>
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text"><b></b><b></b></div>
				<ul class="pagination">
					<%= paginate @clientes %>
				</ul>
			</div>
		</div>
	</div>        
</div>