<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'home/navbar'%>
    </header>

    <main>
      <section>
          <div class="container bg-overlay img-fluid">
            <br><br><br><br><br><br>
            <div class="row text-center">
              <h1>Um sistema criado para a gestão de vendas de mercado.</h1>
                <h4>Tendo como linguam principal, o "<strong>Ruby</strong>",<br>
                  Esse sistema, foi criação para um projeto de curso na materia de ProgramaçãoIII,<br>
                  tem como base um PDV, que serve para a criação<br>
                  e manipulação de dados de um mercado. Criado por Jose Octávio e Juan Pablo</h4>
              <br><br>
            </div>
          </div>
      </section>
    </main>
  </body>
</html>
