<div id="<%= dom_id item %>">
  <p>
    <strong>Produto:</strong>
    <%= item.produto.nome %>
  </p>

  <p>
    <strong>Venda:</strong>
    <%= item.venda_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= item.quantidade %>
  </p>

  <p>
    <strong>Preco unico:</strong>
    <%= item.preco_unico %>
  </p>

  <p>
    <strong>Preco total:</strong>
    <%= item.preco_total %>
  </p>

</div>
