<%= render 'home/navbar'%>

<div id="product"class="container-xl d-flex justify-content-center ml-auto"style="background-color: rgba(255, 255, 255, 0.274);" >
  <div class="table-responsive mb-4 mt-3" >
    <div class="table-wrapper ">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Vendas</b></h2>
          </div>
        </div>
      </div>
      <table class="table col-5">
        <thead>
          <tr>
            <th class="">ID</th>
            <th class="">Cliente</th>
            <th class="">Produto</th>
            <th class="">Preço(R$)</th>
            <th class="">Ação</th>
          </tr>
        </thead>
        <tbody>
          <% @vendas.each do |venda| %>
            <tr>
              <td><%= venda.id%></td>
              <td><%= venda.cliente.nome%></td>
              <td><%= venda.produto.nome%></td>
              <td><%= venda.produto.preco%></td>
              <td>
                <%= link_to venda, data:{turbo_method: :delete, toggle: 'modal'},class:'delete' do %>
                  <i class="material-icons" data-toggle="tooltip" title="Deletar"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>,
                  </svg>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text"><b></b><b></b></div>
        <ul class="pagination">
          <%= paginate @vendas %>
        </ul>
      </div>
    </div>
  </div>
</div>
