<%= render 'home/navbar'%>
<div id="vendasimg"class="container-xl d-flex justify-content-center ml-auto"style="background-color: rgba(255, 255, 255, 0.274);" >
  <div class="table-responsive mb-4 mt-3" >
    <div class="table-wrapper ">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Vendas</b></h2>
          </div>
          <div class="col-sm-6">
            <%= link_to new_venda_path, data:{toggle: 'modal'},class:'btn btn-success' do %>
              <i class="material-icons"></i> <span>Realizar Venda</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-dropbox" viewBox="0 0 16 16">
                <path d="M8.01 4.555 4.005 7.11 8.01 9.665 4.005 12.22 0 9.651l4.005-2.555L0 4.555 4.005 2 8.01 4.555Zm-4.026 8.487 4.006-2.555 4.005 2.555-4.005 2.555-4.006-2.555Zm4.026-3.39 4.005-2.556L8.01 4.555 11.995 2 16 4.555 11.995 7.11 16 9.665l-4.005 2.555L8.01 9.651Z"/>
              </svg>
            <% end %>
            <%= link_to pdf_generate_path, class:"btn btn-success" do %>
							<span>Baixar PDF </span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
              </svg>
						<% end %>
          </div>
        </div>
      </div>
      <table class="table col-5">
        <thead>
          <tr>
            <th class="">ID</th>
            <th class="">Cliente</th>
            <th class="">Produtos</th>
            <th class="">Total da Venda(R$)</th>
            <th class="">Ação</th>
          </tr>
        </thead>
        <tbody>
          <% @vendas.each do |venda| %>
            <% @itens = Item.where(venda_id: venda.id)%>
            <% @total_venda = 0 %>
            <tr>
              <td><%= venda.id %></td>
              <td><%= venda.cliente.nome %></td>
              <td>
                <% @itens.each do |item|%>
                  <%= item.produto.nome %> (<%= item.quantidade%>),
                  <% @total_venda += item.preco_total %>
                <% end %>
              </td>
              <td><%= @total_venda.ceil(2) %></td>
              <td>
                <%= link_to venda, data:{turbo_method: :delete, toggle: 'modal'},class:'delete' do %>
                  <i class="material-icons" data-toggle="tooltip" title="Deletar"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>,
                  </svg>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text"><b></b><b></b></div>
        <ul class="pagination">
          <%= paginate @vendas %>
        </ul>
      </div>
    </div>
  </div>
</div>
